#map {
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}/* Empty. Add your own CSS if you like */
.login{

    background-image: url('img/fondoRestaurante.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-gray{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVtNUEcNlFRu1-609FM6IghkINzW6qnB8V9eENLyoZVElQ7GZ9');
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7gxhZtvLYgMb7-MJJY3Q13t-nIYbMI9_lDi3JgsH3C5Dr4N614Q');
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-red{
    background-color: #5A1319;
}
.assertive-bg{
    background-color: #ED1B24 !important;
}
.button-assertive{
    background-color: #ED1B24 !important;
}
.bar-assertive{
    background-color: #ED1B24 !important;
}
.bar-header{
    background-color: rgb(136, 23, 25); !important;
}
.item-complex .item-content{
    background-color: rgb(136, 23, 25); !important;
    color: white;
}
.restaurante-content{
    margin-left: 5%;
    margin-right: 2%;

}
.row-restaurante{

    margin-right: 0px !important;
    margin-left: 0px !important;
}
.img-restaurante{
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.img-oferta{
    width: 100%;
    height: 200px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;

}
.menu-restaurante{
    background-color: rgb(90, 19, 25);
    color: rgb(208, 30, 36);
    text-align: center;
    font-size: 22px;
    border-right: solid 8px;
    padding: 2%;
}
.tabs-assertive{
    background-color: #ED1B24 !important;
}
.font-zise-50{
    font-size: 50px;
}
.img-restaurante-100{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.bar-assertive .button{
    background-color: #ED1B24 !important;
}
.margin-top-neg-8{
    margin-top: -19px !important;
}
.margin-bottom-3{
    margin-bottom: -10px;
}
.restaurante-border{
    margin-bottom: -1px;
    border-bottom: solid 3px rgb(237, 27, 36);
}
.search-input{
    margin-bottom: 0px !important;
    background-color: rgb(0, 0, 0) !important;
    border-bottom: solid 2px white !important;
    border-bottom-style: dotted !important;
}
.btn-menu{
font-size: 200% !important; ;
border-color: #ED1B24 !important;

}
.btn-menu-small{
    font-size: 150% !important; ;
    border-color: #ED1B24 !important;

}
.gray{
    color: #DDDCD8 !important;
}
.a-details{
    font-size:medium !important;
    white-space: normal!important;
}

.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}
.restaurante-img{
    height: 125px;
    min-height: 125px;
    min-width: 100%;
    width: 100%;

}
.box-shadow{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.button.button-dark {
    border-color: #000 !important;
}
.icono-orden{

    background-color: rgb(239, 71, 58);
    border-radius: 32px;
    position: absolute;
    top: 3px;

    text-align: center;
    font-size: 12px;
    padding: 2px 3px;
    line-height: 0.9;
}
.bar.bar-dark {
    background-color: #000 !important;
}
.bar-dark .button {
    border-color: #000 !important;
    background-color: #000 !important;
}

.tabs-dark{
    background-color: #000 !important;
}
