<ion-view view-title="Bebidas">

    <ion-header-bar class="bar-light bar-subheader img-search" style="padding: 0px;height: 120px;">
        <h5 class="text-center light text-bold">LO QUE QUIERAS, CUANDO QUIERAS</h5>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Establecimientos o tipos de comidas" ng-model="search">
            </label>
        </div>

    </ion-header-bar>
    <ion-content style="margin-top: 55px;">

        <div class="list">
            <br>
            <center>
                <ion-spinner ng-show="buscando==0 && !restauresArray" ng-class="icon"></ion-spinner>
            </center>

            <div  collection-repeat="i in restauresArray | filter:search" >

                <a class="item item-thumbnail-left"   href="#/app/restaurantes/{{i.ID}}" >
                    <img ng-src="{{i.Logo}}">
                    <h2>{{i.Nombre}}</h2>
                    <p> <i class="icon ion-fork"></i> {{i.Comidas}}</p>
                </a>

            </div>
        </div>
        <div  ng-show="buscando == 1 && tamano ==0">
            <div class="card">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-chatbox-working assertive"></i>
                    No se encontraron restaurantes
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>