<ion-view view-title="Historial">
    <ion-content>
        <center>
            <ion-spinner ng-show="tamano ==true && empty==false" ng-class="icon"></ion-spinner>
        </center>
        <div class="list card " ng-repeat="o in historial">
            <div class="item item-divider bar-assertive white">
                <i class="ion ion-person text-bold"></i> {{o.name }}
                <i class="ion ion-stats-bars pull-right"></i>
            </div>
            <div class="item item-text-wrap">
                <h2 class="text-center text-bold"><b><i class="ion ion-clock"></i> {{o.FechaStr}} </b> </h2>
                <label class="item item-icon-left ">
                    <i class="icon " ng-class="o.paymentTypeStr == 'CARD' ? 'ion-card' : 'ion-cash' "></i>
                    <label ng-class="o.Status == 1 ? 'text-warning' : o.Status == 2 ? 'text-info' : o.Status  =3  ? 'text-success' : 'text-danger'">{{o.Status
                        == 1 ? 'Pendiente' : o.Status == 2 ? 'Creada' : o.Status =3 ? 'Completada' :
                        'Cancelada'}}</label>
                    <span class="badge">{{o.Amount | currency}}</span>

                </label>

                <h2 class="text-center text-bold" style="margin-top: 5px"><b><i class="ion ion-map"></i> Direccion</b> </h2>

                <p> {{o.Address}}
                    </p>
            </div>
        </div>
        <div  ng-show=" (!tamano && empty==true) || error">
            <div class="card">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-chatbox-working assertive"></i>
                    No se pudo encontrar historial de pedidos
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
