<ion-side-menus ng-controller="AppCtrl" ng-init="init()" enable-menu-with-back-views="false">
    <div class="bar bar-header item-input-inset" ng-show="searchGeneral" style="  background-color: rgb(237, 27, 36);">
        <label class="item-input-wrapper search-input">
            <i class="icon ion-ios-search placeholder-icon" style="color: #FFF"></i>
            <input type="text" id="search" placeholder="Buscar..." ng-model="search" style="height: 35px;color:#FFF;">
        </label>
        <button class="button button-assertive btn-menu-small" ng-click="ShowSearch()">
            <i class="ion ion-close-round"></i>
        </button>
    </div>
    <ion-side-menu-content>

        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>

            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <div>
                    <img src="img/carrito.png" ng-click="MyOrder()" style="width: 30px;margin-left: 9px">
                    <span class="icono-orden" ng-show="count > 0" >{{count}}</span>
                </div>

                <button class="button btn-menu" ng-show="hasMenu" ng-click="ShowSearch()"><i class="ion ion-search"></i></button>

            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent">
        </ion-nav-view>

    </ion-side-menu-content drag-content="false"   edge-drag-threshold="false">

    <ion-side-menu side="left" class="dark-red">
        <ion-header-bar class="bar-header ">
            <h1 class="title"></h1>
        </ion-header-bar>
        <ion-content class="bar-header">
            <div class="image text-center ">
                <img src="img/LOGO_ALLDLVRY.png" alt="User Image" style="max-width: 50%;">
            </div>
            <ion-list class="bar-header">
                <ion-item ng-show="!isGuestUser" nav-clear menu-close href="#/app/usuario" class="text-bold">
                    <i class="ion-person dark"></i>
                    Mi Perfil
                </ion-item>

                <ion-item nav-clear menu-close href="#/app/restaurantes" class="text-bold">
                    <i class="ion-android-restaurant"></i>
                    Restaurantes
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/bebidas" class="text-bold">
                    <i class="ion-fork"></i>
                    Bebidas
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/ofertas" class="text-bold">
                    <i class="ion ion-map"></i>
                    Ofertas
                </ion-item>
                <ion-item nav-clear ng-show="!isGuestUser"  menu-close href="#/app/historial" class="text-bold">
                    <i class="ion ion-map"></i>
                    Historial de pedidos
                </ion-item>
                <!--&lt;!&ndash;<ion-item nav-clear ng-show="!isGuestUser" menu-close href="#/app/contrasena" class="text-bold">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="ion ion-map"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;Contrasena&ndash;&gt;-->
                <!--</ion-item>-->
                <ion-item nav-clear menu-close href="#" ng-show="!isGuestUser" ng-click="logout()" class="text-bold">
                    <i class="ion ion-log-out"></i>
                    Cerrar Sesion
                </ion-item>
                <ion-item nav-clear menu-close href="#/login" ng-show="isGuestUser" class="text-bold">
                    <i class="ion ion-log-in"></i>
                    Iniciar sesion
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
