<style>
    .popup-body{
        padding: 0px !important;
    }
    .popup-head{
    background-color: rgb(237, 27, 36)!important;
    color: white !important;
    }
</style>
<div class="card">
    <div class="item item-divider">
     <h3><i class="ion ion-asterisk"></i> Cantidad</h3>
    </div>
    <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-minus-round" ng-click="SubtractProduct()"></i>
        {{plato.cantidad}}
        <i class="icon ion-plus-round" ng-click="SumProduct()"></i>
    </a>
</div>
<div class="card">
    <div class="item item-divider">
        <h3><i class="ion ion-chatboxes"></i> Comentario</h3>
    </div>
    <div class="item item-text-wrap">
        <textarea  type ="text"  ng-model="plato.comentario" placeholder="Ingrese un comentario"/>
    </div>
</div>