<ion-view view-title="Reservacion">
    <ion-content>
        <center>
            <ion-spinner ng-show="!restaurante" ng-class="icon"></ion-spinner>
        </center>
        <div class="card">
            <a class="item item-thumbnail-left" href="#">
                <img ng-src="{{restaurante.Logo}}">

                <h2>{{restaurante.Nombre}}</h2>
                <i class="icon ion-star " ng-class="restaurante.OverallRating > n ? 'energized' : 'gray' "
                   ng-repeat="n in [] | range:5"></i>

                <p><i class="icon ion-fork"></i> {{restaurante.Comidas}}</p>

                <p><i class="icon ion-arrow-graph-up-right"></i> {{restaurante.RangoDePrecio}}</p>
            </a>

        </div>

        <h4 class="dark text-center"><i class="ion ion-android-restaurant"></i> Escoga la sucursal</h4>
        <div class="list list-inset" ng-repeat="s in restaurante.Sucursal">
            <label class="item item-radio">
                <input type="radio"  ng-model="rev.s" ng-value="s.Id" ng-change="serverSideChange(s)">

                <div class="item-content">
                    <p class="a-details" ng-show="s.Telefono"><i class="icon ion-ios-telephone assertive"></i>
                        {{s.Telefono}}</p>

                    <p class="a-details" ng-show="s.Direccion"><i class="icon ion-location assertive"></i>
                        {{s.Direccion}}</p>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <br>
        </div>
     <!--   <ion-radio ng-repeat="s in restaurante.Sucursal"
                   ng-value="s.Id"
                   ng-model="rev.s"
                   ng-change="serverSideChange(s)"
                   name="server-side">
            {{ s.Direccion }}
        </ion-radio>-->
        <br>
        <h4 class="dark text-center"><i class="ion ion-clipboard"></i> Informacion adicional</h4>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-asterisk placeholder-icon"></i>
                <input type="number" ng-model="rev.cantidad" min="1" placeholder="Cantidad de personas">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <textarea ng-model="rev.comment" placeholder="Comentario"></textarea>
            </label>
        </div>
        <div class="list list-inset">
            <button ng-click="EnviarReservacion(rev)" class="button button-block button-assertive">
                Enviar
            </button>
        </div>
        <div class="list list-inset">
        </div>
    </ion-content>
</ion-view>