
<ion-view view-title="{{restaurante.Nombre}}">
    <ion-content>

        <script id="image-modal.html" type="text/ng-template">
            <div class="modal image-modal transparent" ng-click="closeModal()">
                <ion-pane class="transparent">
                    <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
                </ion-pane>
            </div>
        </script>
        <center>
            <ion-spinner ng-show="!restaurante" ng-class="icon"></ion-spinner>
        </center>
        <ion-tabs ng-show = "restaurante" class="tabs-dark tabs-icon-top">
            <ion-tab title="Restaurante" icon-on="ion-android-restaurant" icon-off="ion-android-restaurant" class="img-restaurante-bg">
                <ion-view view-title="Restaurante">
                    <ion-content>
                        <div class="list dark-red restaurante-border">

                            <div class="row row-restaurante">
                                <div class="col col-33">
                                    <a class="iqtem thumbnail margin-bottom-0" href="#">
                                        <img ng-src="{{restaurante.Logo}}" class="img-restaurante">
                                    </a>
                                    <i class="icon ion-star energized" style="font-size: 20px" ng-repeat="n in [] | range:restaurante.OverallRating"></i>
                                </div>
                                <div class="col col-67">
                                    <div class="row row-restaurante margin-bottom-3">
                                        <div class="col col-67">
                                            <a  ng-disabled="restaurante.Reservar!=true" class="button button-assertive icon-left ion-android-restaurant" href="#/app/reservacion/{{restaurante.ID}}"> Reservar</a>
                                        </div>
                                        <div class="col col-33">
                                            <a ng-disabled ="!locationOn" href="#/app/map/lat/{{restaurante.lat}}/lon/{{restaurante.lon}}" class="button  button-assertive icon ion-location"></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row row-restaurante light margin-top-neg-8 " ng-show="restaurante.Comidas">
                                        <h5><i class="ion ion-fork assertive"></i>  {{restaurante.Comidas}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Telefono">
                                        <h5><i class="ion ion-ios-telephone assertive"></i>  {{restaurante.Telefono}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.direccion">
                                        <h5><i class="ion ion-location assertive"></i>  {{restaurante.direccion}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Rango">
                                        <h5><i class="ion ion-social-usd assertive"></i>  {{restaurante.Rango}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light">
                                        <button class="button button-assertive button-block button-small" ng-click="popupFacilities(restaurante.Facilidades)"><i class="ion ion-information-circled"></i> Facilidades</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card" ng-show="restaurante.Menu.CategoriaMenu[0]==null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-clipboard"></i>
                                El restaurante no tiene menu
                            </a>
                        </div>
                        <div class="list" ng-repeat="i in restaurante.Menu.CategoriaMenu | filter:search" style="margin-bottom: 0px;">
                            <div class="menu-restaurante">
                                <i class="ion ion-pricetags"></i> {{i.Descripcion}}
                            </div>
                            <div ng-repeat="item in i.Item | filter:search">
                                <a class="item item-icon-right a-details">
                                    <i ng-show ="item.Precio > 0.0 && restaurante.AllDelivery" class="icon ion-android-add-circle assertive"  ng-click="popup(item,restaurante)"></i>
                                    <small class="assertive"> <i class="ion ion-pricetag"></i> {{item.Nombre}}</small>
                                    <br ng-show="item.Descripcion!=''">
                                    <small class="dark" > {{item.Descripcion}}
                                    </small>          <br>
                                    <small class="dark"><b><i class="ion ion-social-usd"></i> Precio: {{item.Precio | currency:"RD$":0}}</b> </small>
                                </a>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Imagenes" icon-on="ion-images" icon-off="ion-images">
                <ion-view view-title="Imagenes">

                    <ion-content >
                        <div class="list dark-red restaurante-border">

                            <div class="row row-restaurante">
                                <div class="col col-33">
                                    <a class="item thumbnail margin-bottom-0" href="#">
                                        <img ng-src="{{restaurante.Logo}}" class="img-restaurante">
                                    </a>
                                    <i class="icon ion-star energized" style="font-size: 20px" ng-repeat="n in [] | range:restaurante.OverallRating"></i>
                                </div>
                                <div class="col col-67">
                                    <div class="row row-restaurante margin-bottom-3">
                                        <div class="col col-67">
                                            <a  ng-disabled="restaurante.Reservar!=true" class="button button-assertive icon-left ion-android-restaurant" href="#/app/reservacion/{{restaurante.ID}}"> Reservar</a>
                                        </div>
                                        <div class="col col-33">
                                            <a ng-disabled ="!locationOn" href="#/app/map/lat/{{restaurante.lat}}/lon/{{restaurante.lon}}" class="button  button-assertive icon ion-location"></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row row-restaurante light margin-top-neg-8 " ng-show="restaurante.Comidas">
                                        <h5><i class="ion ion-fork assertive"></i>  {{restaurante.Comidas}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Telefono">
                                        <h5><i class="ion ion-ios-telephone assertive"></i>  {{restaurante.Telefono}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.direccion">
                                        <h5><i class="ion ion-location assertive"></i>  {{restaurante.direccion}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Rango">
                                        <h5><i class="ion ion-social-usd assertive"></i>  {{restaurante.Rango}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light">
                                        <button class="button button-assertive button-block button-small" ng-click="popupFacilities(restaurante.Facilidades)"><i class="ion ion-information-circled"></i> Facilidades</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card"ng-show=" restaurante.Foto[0]==null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-image"></i>
                                No se encontraron imagenes
                            </a>
                        </div>
                        <div class="card "ng-show=" restaurante.Foto[0]!=null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-image"></i>
                                Imagenes
                            </a>
                        </div>
                     <!--   <div class="list card" ng-repeat="img in restaurante.Foto">
                            <img ng-click="showImage(img.Url)" ng-src="{{img.Url}}" class="img-restaurante-100">
                        </div>-->
                        <!--<div class="row row-restaurante">
                            <div class="col col-33" ng-repeat="image in  restaurante.Foto">
                                <img ng-src="{{image.Url}}" ng-click="showImage(img.Url)" style="height: 125px; min-height: 125px;min-width: 100%;width: 100%;" />
                            </div>
                            </div>-->
                                <div class="row row-restaurante" ng-repeat="image in restaurante.Foto" ng-if="$index % 4 === 0">
                                    <div class="col col-33 box-shadow" ng-if="$index < restaurante.Foto.length">
                                        <img ng-src="{{restaurante.Foto[$index].Url}}" ng-click="showImage(restaurante.Foto[$index].Url)"  class="restaurante-img" />
                                    </div>
                                    <div class="col col-33 box-shadow" ng-if="$index + 1 < restaurante.Foto.length">
                                        <img ng-src="{{restaurante.Foto[$index + 1].Url}}" ng-click="showImage(restaurante.Foto[$index + 1].Url)" class="restaurante-img" />
                                    </div>
                                    <div class="col col-33 box-shadow" ng-if="$index + 2 < restaurante.Foto.length">
                                        <img ng-src="{{restaurante.Foto[$index + 2].Url}}"ng-click="showImage(restaurante.Foto[$index + 2].Url)"  class="restaurante-img" />
                                    </div>
                                </div>
                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Sucursales" icon-on="ion-ios-home" icon-off="ion-ios-home">
                <ion-view view-title="Sucursales">

                    <ion-content>
                        <div class="list dark-red restaurante-border">

                            <div class="row row-restaurante">
                                <div class="col col-33">
                                    <a class="item thumbnail margin-bottom-0" href="#">
                                        <img ng-src="{{restaurante.Logo}}" class="img-restaurante">
                                    </a>
                                    <i class="icon ion-star energized" style="font-size: 20px" ng-repeat="n in [] | range:restaurante.OverallRating"></i>
                                </div>
                                <div class="col col-67">
                                    <div class="row row-restaurante margin-bottom-3">
                                        <div class="col col-67">
                                            <a  ng-disabled="restaurante.Reservar!=true" class="button button-assertive icon-left ion-android-restaurant" href="#/app/reservacion/{{restaurante.ID}}"> Reservar</a>
                                        </div>
                                        <div class="col col-33">
                                            <a ng-disabled ="!locationOn" href="#/app/map/lat/{{restaurante.lat}}/lon/{{restaurante.lon}}" class="button  button-assertive icon ion-location"></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row row-restaurante light margin-top-neg-8 " ng-show="restaurante.Comidas">
                                        <h5><i class="ion ion-fork assertive"></i>  {{restaurante.Comidas}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Telefono">
                                        <h5><i class="ion ion-ios-telephone assertive"></i>  {{restaurante.Telefono}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.direccion">
                                        <h5><i class="ion ion-location assertive"></i>  {{restaurante.direccion}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Rango">
                                        <h5><i class="ion ion-social-usd assertive"></i>  {{restaurante.Rango}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light">
                                        <button class="button button-assertive button-block button-small" ng-click="popupFacilities(restaurante.Facilidades)"><i class="ion ion-information-circled"></i> Facilidades</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card"ng-show=" restaurante.Sucursal[0]!=null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-ios-home"></i>
                                Sucursales
                            </a>
                        </div>
                        <div class="card" collection-repeat="s in restaurante.Sucursal">
                            <div class="item item-text-wrap">
                                <p ng-show="s.Telefono"> <i class="icon ion-ios-telephone assertive"></i> {{s.Telefono}}</p>
                                <p ng-show="s.Direccion"> <i class="icon ion-location assertive"></i> {{s.Direccion}}</p>
                            </div>
                        </div>
                        <div class="card"ng-show=" restaurante.Sucursal[0]==null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-ios-home"></i>
                                No se encontraron sucursales
                            </a>
                        </div>

                    </ion-content>
                </ion-view>
            </ion-tab>
            <ion-tab title="Ofertas" icon-on="ion-bag" icon-off="ion-bag">

                <ion-view view-title="Ofertas">

                    <ion-content lazy-scroll>
                        <div class="list dark-red restaurante-border">

                            <div class="row row-restaurante">
                                <div class="col col-33">
                                    <a class="item thumbnail margin-bottom-0" href="#">
                                        <img ng-src="{{restaurante.Logo}}" class="img-restaurante">
                                    </a>
                                    <i class="icon ion-star energized" style="font-size: 20px" ng-repeat="n in [] | range:restaurante.OverallRating"></i>
                                </div>
                                <div class="col col-67">
                                    <div class="row row-restaurante margin-bottom-3">
                                        <div class="col col-67">
                                            <a  ng-disabled="restaurante.Reservar!=true" class="button button-assertive icon-left ion-android-restaurant" href="#/app/reservacion/{{restaurante.ID}}"> Reservar</a>
                                        </div>
                                        <div  class="col col-33">
                                            <a  ng-disabled ="!locationOn" href="#/app/map/lat/{{restaurante.lat}}/lon/{{restaurante.lon}}" class="button  button-assertive icon ion-location"></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row row-restaurante light margin-top-neg-8 " ng-show="restaurante.Comidas">
                                        <h5><i class="ion ion-fork assertive"></i>  {{restaurante.Comidas}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Telefono">
                                        <h5><i class="ion ion-ios-telephone assertive"></i>  {{restaurante.Telefono}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.direccion">
                                        <h5><i class="ion ion-location assertive"></i>  {{restaurante.direccion}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light" ng-show="restaurante.Rango">
                                        <h5><i class="ion ion-social-usd assertive"></i>  {{restaurante.Rango}}</h5>
                                    </div>
                                    <div class="row row-restaurante margin-top-neg-8 light">
                                        <button class="button button-assertive button-block button-small" ng-click="popupFacilities(restaurante.Facilidades)"><i class="ion ion-information-circled"></i> Facilidades</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                            <div class="card"ng-show=" restaurante.Oferta[0]==null">
                                <a href="#" class="item item-icon-left">
                                    <i class="icon ion-bag"></i>
                                    No se encontraron ofertas
                                </a>
                            </div>
                        <div class="card"ng-show=" restaurante.Oferta[0]!=null">
                            <a href="#" class="item item-icon-left">
                                <i class="icon ion-bag"></i>
                                Ofertas
                            </a>
                        </div>
                        <div class="card" ng-repeat=" o in restaurante.Oferta">
                            <div class="item item-divider assertive-bg light">
                                <i class="ion-ios-list-outline"></i> {{o.Titulo}}
                            </div>
                            <div class="item item-body">
                                <img class="full-image" ng-src="{{o.RutaImagen}}">
                                <div ng-bind-html="o.Descripcion">
                                    <div/>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>

            </ion-tab>
        </ion-tabs>

    </ion-content>
</ion-view>



