<ion-view view-title="Restaurantes">

  <ion-header-bar class="bar-light bar-subheader" style="padding: 0px">
    <div class="list">

      <a href="#" class="item item-icon-left item-icon-right" ng-click="filter()">
        <i class="icon ion-ios-settings-strong assertive"></i>
       <b>Busqueda avanzada</b>
        <i class="icon ion-arrow-right-c assertive"></i>
      </a></div>
  </ion-header-bar>
  <ion-content>




    <div class="list">
      <br>
      <center>
        <ion-spinner ng-show="buscando==0 && !restauresArray" ng-class="icon"></ion-spinner>
      </center>

      <div  collection-repeat="i in restauresArray | filter:search" >

        <a class="item item-thumbnail-left"   href="#/app/restaurantes/{{i.ID}}" >
          <img ng-src="{{i.Logo}}">
          <h2>{{i.Nombre}}</h2>
          <i class="icon ion-star " ng-class ="i.OverallRating > n ? 'energized' : 'gray' " ng-repeat="n in [] | range:5"></i>

          <p> <i class="icon ion-ios-telephone"></i> {{i.Telefono}}</p>
          <p> <i class="icon ion-fork"></i> {{i.Comidas}}</p>
          <p> <i class="icon ion-arrow-graph-up-right"></i> {{i.RangoDePrecio}}</p>
        </a>

      </div>
    </div>
    <div  ng-show="buscando == 1 && tamano ==0">
      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="cargarDeNuevo()">
      </ion-refresher>
      <div class="card">

        <a class="item item-icon-left" href="#">
          <i class="icon ion-chatbox-working assertive"></i>
          No se encontraron restaurantes
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
