<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title"><i class="icon ion-search"></i> Filtros de busqueda</h1>
        <div class="buttons">
            <button class="button button-assertive btn-menu-small"ng-click="closeFilter()">
                <i class="ion ion-close-round"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">
                    <b>  <i class="ion ion-earth"></i>  Ciudad:</b>
                </div>
                <select ng-options="o.Descripcion for o in cuidad" data-ng-model="selectedValue">
                 <option ng-repeat="c in cuidad"  value = "{{c.Id}}">{{c.Descripcion}}  </option>
                    </select>
            </div>
            <ion-list>
                <div ng-repeat="group in groups">
                    <ion-item class="item-light item-icon-right"
                              ng-click="toggleGroup(group)"
                              ng-class="{active: isGroupShown(group)}">
                        <i class="ion" ng-class="group.icon"></i>
                        <i class="icon" style="font-size: 20px;color:#e42012" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                      <b>{{group.name}}</b>
                    </ion-item>
                    <ion-item class="item-accordion"

                              ng-show="isGroupShown(group)">
                        <ul class="list" style="  margin: -19px;">

                            <li class="item item-checkbox"ng-repeat="item in group.items">
                                <label class="checkbox">
                                    <input ng-model="item.isCheck" type="checkbox">
                                </label>
                                {{item.Descripcion}}
                            </li>
                        </ul>

                    </ion-item>
                </div>
            </ion-list>
        </div>

    </ion-content>
    <style>
        div.footer-button button.button.button-full {
            width:100%;
            height: 100%;
            margin-top: 0
        }
    </style>
    <div class="bar bar-footer bar-assertive footer-button">
        <button ng-click="buscarAvazando(groups,selectedValue.Id)" class="button button-block button-full"  type="button"><i class="icon ion-search"></i> Buscar</button>
    </div>
</ion-modal-view>
