<ion-view view-title="Ofertas">
    <ion-content lazy-scroll>
        <div class="tabs tabs-top tabs-assertive">
            <a class="tab-item active" href="#/app/ofertasDiarias">
                DIARIAS
            </a>
            <a class="tab-item" href="#/app/ofertascercanas">
                CERCANAS
            </a>
        </div>
        <br>



        <ion-view view-title="Restaurante">
            <ion-content>
                <br>    <br>
                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="getDiarias()">
                </ion-refresher>
                <br>

                <br>
                <center>
                    <ion-spinner ng-show="!ofertas && !error" ng-class="icon"></ion-spinner>
                </center>

                <div class="card" ng-show="ofertas" ng-repeat=" i in ofertas">
                    <img ng-src="{{i.RutaImagen}}" class="img-oferta" href="#/app/ofertas/lat/{{i.lat}}/lon/{{i.lon}}">
                </div>
                <div ng-show="error">

                    <a class="item item-icon-left item-icon-right" href="#">
                        <i class="icon ion-pinpoint"></i>
                       Pull down to refresh
                        <i class="icon ion-arrow-right-c"></i>
                    </a>
                </div>
            </ion-content>
        </ion-view>


    </ion-content>

</ion-view>