<ion-view view-title="Ofertas">
    <ion-content lazy-scroll>

        <div class="tabs tabs-top tabs-assertive">
            <a class="tab-item " href="#/app/ofertasDiarias">
                DIARIAS
            </a>
            <a class="tab-item active" href="#/app/ofertascercanas">
                CERCANAS
            </a>
        </div>

        <ion-view view-title="Restaurante">
            <ion-content>

                <br>    <br>
                <ion-refresher
                        pulling-text="Pull to refresh..."
                        on-refresh="getCercanas()">
                </ion-refresher>
                <br>
                <center>
                    <ion-spinner ng-show="!ofertas && !positionError" ng-class="icon"></ion-spinner>
                </center>
                <div ng-show="positionError">

                    <a class="item item-icon-left item-icon-right" href="#" ng-click="encederGPS()">
                        <i class="icon ion-pinpoint"></i>
                        Encender GPS
                        <i class="icon ion-arrow-right-c"></i>
                    </a>
                </div>
                <div  ng-show="noFoundOffers">
                    <div class="card">
                        <a class="item item-icon-left a-details" >
                            <i class="icon ion-map assertive"></i>
                            No se encontraron ofertas cercanas.
                        </a>
                    </div>
                </div>
                <div class="card" ng-show="ofertas" ng-repeat=" i in ofertas">
                    <img ng-src="{{i.RutaImagen}}" class="img-oferta" href="#/app/ofertas/lat/{{i.lat}}/lon/{{i.lon}}">
                </div>
            </ion-content>
        </ion-view>


    </ion-content>

</ion-view>