<ion-view view-title="Top casual">
  <ion-content lazy-scroll>
    <center>
      <ion-spinner ng-show="!restauresArray" ng-class="icon"></ion-spinner>
    </center>
    <div class="list" ng-show="restauresArray">
      <div ng-repeat="i in restauresArray">
        <a class="item item-thumbnail-left"  href="#/app/restaurantes/{{i.ID}}">
          <img image-lazy-src="{{i.Logo}}">
          <h2>{{i.Nombre}}</h2>
          <i class="icon ion-star energized" ng-repeat="n in [] | range:i.OverallRating"></i>
          <p ng-show="i.Telefono !=''"> <i class="icon ion-ios-telephone"></i> {{i.Telefono}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
