#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}/* Empty. Add your own CSS if you like */
.login{

    background-image: url('img/fondoRestaurante.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.img-search {
    background-image: url('img/fondo-search.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-gray{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVtNUEcNlFRu1-609FM6IghkINzW6qnB8V9eENLyoZVElQ7GZ9');
    background-repeat: no-repeat;
    background-size:cover;

}
.bg-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7gxhZtvLYgMb7-MJJY3Q13t-nIYbMI9_lDi3JgsH3C5Dr4N614Q');
    background-repeat: no-repeat;
    background-size: cover;

}
.dark-red{
    background-color: #5A1319;

}
.assertive-bg{
    background-color: #ED1B24 !important;
}
.button-assertive{
    background-color: #D2251F !important;
}
.bar-assertive{
    background-color: #D2251F !important;
}
.bar-header{
    background-color: #D2251F !important;
}
.item-complex .item-content{
    background-color: #D2251F !important;
    color: white;
}
.restaurante-content{
    margin-left: 5%;
    margin-right: 2%;

}
.row-restaurante{

    margin-right: 0px !important;
    margin-left: 0px !important;
}
.img-restaurante{
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}

.menu-restaurante{
    background-color: rgb(90, 19, 25);
    color: rgb(208, 30, 36);
    text-align: center;
    font-size: 22px;
    border-right: solid 8px;
    padding: 2%;
}
.tabs-assertive{
    background-color: #ED1B24 !important;
}
.font-zise-50{
    font-size: 50px;
}
.img-restaurante-100{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.bar-assertive .button{
    background-color: #D2251F !important;
}
.margin-top-neg-8{
    margin-top: -19px !important;
}
.margin-bottom-3{
    margin-bottom: -10px;
}
.restaurante-border{
    margin-bottom: -1px;
    border-bottom: solid 3px rgb(237, 27, 36);
}
.search-input{
    margin-bottom: 0px !important;
    background-color: rgb(210, 37, 31) !important;
    border-bottom: solid 2px white !important;
    border-bottom-style: dotted !important;
}
.btn-menu{
font-size: 200% !important; ;
border-color: #D2251F  !important;

}
.btn-menu-small{
    font-size: 150% !important; ;
    border-color: #ED1B24 !important;

}
.gray{
    color: #DDDCD8 !important;
}
.a-details{
    font-size:medium !important;
    white-space: normal!important;
}

.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}
.restaurante-img{
    height: 125px;
    min-height: 125px;
    min-width: 100%;
    width: 100%;

}
.box-shadow{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.facebook-icon{
    font-size: 30px !important;
    padding-left: 6px !important;
    padding-top: 3px !important;
}
.text-bold{
    font-weight: bold;
    font-family: serif;
}

.img-icon-restaurante{

    height: 30px;
    margin-top: 3px;
}
.font-size-small{
    font-size: small;
}
.item-oferta{
    border-width: 0px !important;
    opacity: 0.8!important;
}
.text-bold-shadow{
    font-weight: bold;
    color: white;
    margin-left: 13px;
    text-shadow: 3px 3px #564343;
}
.img-oferta {
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-oferta{
  margin-left:46px;
    position: static;
    height: 41px;
background-color: red;
    border-radius: 20px;
    padding: 5px;
    margin-top: 4px;"
}
.img-perdido{
    background-image: url('img/carrito.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 30px;
    margin-top: 20px;
}

form i.icon.error {
    color: #ef4e3a; }

form input + i.icon.error {
    display: none;
    margin-left: 8px; }

form.ng-submitted input.ng-invalid + i.icon.error {
    display: block; }

form .has-error {
    border-left: 5px solid #cc2511; }

form .has-success {
    border-left: 5px solid #3d8b3d; }

form.ng-submitted input.ng-valid + i.icon.error {
    display: none; }

.white{
    color: white !important;
}
.icono-orden{

    background-color: rgb(239, 71, 58);
    border-radius: 32px;
    position: absolute;
    top: 3px;

    text-align: center;
    font-size: 12px;
    padding: 2px 3px;
    line-height: 0.9;
}