<ion-view title="Passwords">
    <ion-content>
        <form novalidate="novalidate" on-valid-submit="changePassword(password)">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Contrasena Vieja</span>
                    <input type="password" ng-model="password.old"  required="required" placeholder="Contransena Vieja">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contrasena Nueva</span>
                    <input type="password" ng-model="password.new" required="required" placeholder="Nueva Contrasena">
                </label>
                <label class="item item-input">
                    <span class="input-label">Repitir la nueva</span>
                    <input type="password"  ng-model="password.repeatNew" required="required"  placeholder="Repetir contrasena">
                </label>
                </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit" class="button button-stable button-block  button-assertive">Guardar</button>
            </form>
    </ion-content>
</ion-view>