<ion-nav-view title="'Sign-In'" class="login">
    <ion-content>
        <center>
            <img src="img/LOGO_ALLDLVRY.png" style="max-width: 65%;max-height: 90%;">
        </center>
<h4 class="light text-center " style="  margin-left: 11px;text-shadow: 2px 2px #564343">Ordena a domicilio en todo el Distrito Nacional</h4>
        <h4 class="light" style="  margin-left: 11px;text-shadow: 2px 2px #564343"> Iniciar sesión </h4>

        <form novalidate="novalidate" on-valid-submit="login(user)">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="ion-android-mail assertive"> </i>
                <input placeholder=" Correo electronico" type="text" ng-model="user.username" required="required">
                <i class="icon ion-alert-circled error"></i>
            </label>

        </div>
        <div class="list list-inset">

            <label class="item item-input">
                <i class="ion-locked assertive"> </i>
                <input type="password" placeholder=" Contraseña" ng-model="user.password" required="required">
                <i class="icon ion-alert-circled error"></i>
            </label>
        </div>
        <div class="padding">
            <button  style="margin-bottom: -15px" class="button button-full button-assertive" type="submit">INGRESAR
            </button>
        </div>
            </form>
        <div class="padding">
            <button class="button button-full button-positive" ng-click="signInFacebook()">
                <i class="ion ion-social-facebook pull-left facebook-icon"></i> Registrarse con Facebook
            </button>
        </div>

        <br>
        <br>
        <center>
            <a href="#/registro" class="light" style="font-size:large;text-shadow: 2px 2px #564343">CREAR CUENTA</a>
            <br>
            <a href="#" ng-click="signInGuest()" class="light" style="font-size:large;text-shadow: 2px 2px #564343">Continuar como invitado</a>
        </center>

    </ion-content>
</ion-nav-view>
