<ion-view view-title="Ofertas">
    <ion-content>
        <center>
            <ion-spinner ng-show="buscando==0 && !ofertasArray" ng-class="icon"></ion-spinner>
        </center>

        <div class="img-oferta" style="height: 212px;background-image: url('{{of.urlImagen}}')" ng-repeat="of in ofertasArray">

            <div style="  padding-top: 97px;position: static;">
                <h4 class="text-bold-shadow">{{of.Name}}</h4>
                <a class="item item-icon-right light item-oferta" href="#" style="background-color: #B3121D;font-weight: bold">
                    <p class="pull-left" style="color: hsl(0, 100%, 100%);">
                        <small style="font-size: 17px;">
                            {{of.precioDescuento | currency:"RD$":0}}
                        </small>

                        <small style="text-decoration: line-through">
                            {{of.precio | currency}}
                        </small>
                        <small style="  margin-left: 30px;font-size: 12px;">{{of.Plato}}</small>
                        <br>
                        <small style="color: black"> {{of.Descuento}}% AHORRA {{of.precio - of.precioDescuento | currency:"RD$":0}}
                        </small>
                        <small style="  margin-left: 21px;font-size: 12px;">{{of.Restaurante}}</small>
                    </p>

                 <i ng-click="addCard(of)" class="icon ion-ios-telephone-outline img-perdido" style="font-size: 0px;"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
