
<ion-nav-view   title="'Registro" class="login">
    <ion-content>
        <center>
            <img src="img/LOGO_ALLDLVRY.png" style="max-width: 65%;max-height: 90%;">
        </center>
        <form novalidate="novalidate" on-valid-submit="register(user)">
        <h3 class="light text-center" style="  margin-left: 11px;text-shadow: 2px 2px #564343"> Crear nueva cuenta </h3>

        <div class="list list-inset">
            <label class="item item-input validated">
                <i class = "ion-person"> </i>
                <input  placeholder=" Usuario" type="text" ng-model="user.username" required="required">
                <i class="icon ion-alert-circled error"></i>
            </label>

        </div>
        <div class="list list-inset">
        <label class="item item-input">
            <i class = "ion-key"> </i>
            <input  placeholder=" Contraseña" type="password" required="required" ng-model="user.password">
            <i class="icon ion-alert-circled error"></i>
        </label>

    </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class = "ion-email"> </i>
                <input  placeholder=" Correo electronico" required="required" type="email" ng-model="user.email">
                <i class="icon ion-alert-circled error"></i>
            </label>

        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class = "ion ion-ios-list"> </i>
                <input  placeholder=" Nombre" type="text" required="required" ng-model="user.name">
                <i class="icon ion-alert-circled error"></i>
            </label>

        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class = "ion ion-ios-list"> </i>
                <input  placeholder=" Apellido" type="text" ng-model="user.lastName">
            </label>

        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class = "ion ion-ios-telephone"> </i>
                <input  placeholder=" Teléfono" type="tel" required="required" ng-model="user.phone">
                <i class="icon ion-alert-circled error"></i>
            </label>

        </div>

        <h4 class="light padding" style="text-shadow: 2px 2px #564343">Recibirás una contraseña en to correo electrónico </h4>
        <div class="padding">
            <button class="button button-block button-assertive" type="submit">
                Continuar
            </button>
        </div>
</form>
    </ion-content>
</ion-nav-view>
