
<ion-view view-title="{{restaurante.Nombre}}">
    <ion-header-bar class="bar-light bar-subheader img" style="padding: 0px;height: 120px;">
        <div class="list dark-red restaurante-border">

            <div class="row row-restaurante">
                <div class="col col-33">
                    <a class="iqtem thumbnail margin-bottom-0" href="#">
                        <img ng-src="{{restaurante.Logo}}" class="img-restaurante">
                    </a>
                </div>
                <div class="col col-67">
                    <div class="row row-restaurante margin-bottom-3">
                        <div class="col">
                          <img src="img/restaurant-icon.png" class="img-icon-restaurante">  <a  class="button button-assertive" style="margin-left: 10px" ng-href="tel: 809-475-0555"> <small>(809)</small><b> 475.0555</b></a>
                        </div>
                    </div>
                    <br>
                    <div class="row row-restaurante light margin-top-neg-8 " ng-show="restaurante.Comidas">
                        <h5><i class="ion ion-fork assertive" style="font-size: 23px"></i>  {{restaurante.Comidas}}</h5>
                    </div>
                </div>
            </div>


        </div>

    </ion-header-bar>
    <ion-content style="margin-top: 89px;">
        <center>
            <ion-spinner ng-show="!restaurante" ng-class="icon"></ion-spinner>
        </center>

        <div class="card" ng-show="!hasMenu">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-clipboard"></i>
                El restaurante no tiene menu
            </a>
        </div>
        <div class="img-oferta" ng-show="restaurante.Ofertas[0]" style="height: 212px;background-image: url('{{restaurante.Ofertas[0].urlImagen}}')">

            <div style="  padding-top: 97px;position: static;">
                <h4 class="text-bold-shadow">{{restaurante.Ofertas[0].Name}}</h4>
                <a class="item item-icon-right light item-oferta" href="#" style="background-color: #B3121D;font-weight: bold">
                    <p class="pull-left" style="color: hsl(0, 100%, 100%);">
                        <small style="font-size: 17px;">
                            {{restaurante.Ofertas[0].precioDescuento | currency:"RD$":0}}
                        </small>

                        <small style="text-decoration: line-through">
                            {{restaurante.Ofertas[0].precio | currency}}
                        </small>
                        <small style="  margin-left: 30px;font-size: 12px;">{{restaurante.Ofertas[0].Plato}}</small>
                        <br>
                        <small style="color: black"> {{restaurante.Ofertas[0].Descuento}}% AHORRA {{restaurante.Ofertas[0].precio - restaurante.Ofertas[0].precioDescuento |
                            currency:"RD$":0}}
                        </small>
                        <small style="  margin-left: 25px;font-size: 12px;">{{restaurante.Ofertas[0].Restaurante}}</small>
                    </p>
                    <i class="icon ion-ios-telephone-outline img-perdido" style="font-size: 0px;"></i>
                </a>
            </div>
        </div>
        <div class="list" ng-repeat="i in restaurante.Menu.CategoriaMenu | filter:search" style="margin-bottom: 0px;">
            <div class="menu-restaurante">
                <i class="ion ion-pricetags"></i> {{i.Descripcion}}
            </div>
            <div ng-repeat="item in i.Item | filter:search">
                <a class="item item-icon-right a-details">
                    <i ng-show ="item.Precio > 0.0" class="icon ion-android-add-circle assertive"  ng-click="popup(item,restaurante)"></i>
                    <small class="assertive"> <i class="ion ion-pricetag"></i> {{item.Nombre}}</small>
                    <br ng-show="item.Descripcion!=''">
                    <small class="dark" > {{item.Descripcion}}
                    </small>          <br>
                    <small class="dark"><b><i class="ion ion-social-usd"></i> Precio: {{item.Precio | currency:"RD$":0}}</b> </small>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

