<<ion-view title="Profile" ng-init="init()">
  <ion-content>
    <form novalidate="novalidate" on-valid-submit="update(user)">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">UserName</span>
          <input type="text" ng-model="user.user_login" required="required" placeholder="UserName">
        </label>
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="user.user_nicename" required="required" placeholder="Nombre">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email"  ng-model="user.user_email" required="required"  placeholder="Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Telefono:</span>
          <input type="tel"  ng-model="user.UserTel" required="required"  placeholder="Telefono">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button type="submit" class="button button-stable button-block  button-assertive">Guardar</button>
      <a href="#/app/contrasena" class="button button-stable button-block  button-assertive">Cambio contrasena</a>
    </form>
  </ion-content>
</ion-view>
