<ion-view view-title="Pago">
    <ion-content>

        <div class="list list-inset">
            <h4 class="dark text-center dark"><i class="ion ion-paper-airplane"></i>  ENVIAR PEDIDO</h4>
            <div class="list list-inset">
                <h5 class="dark"><b>Datos personales:</b></h5>
                <h5 class="dark"><i class="ion ion-person assertive"></i> {{profileData.name}}</h5>
                <h5 class="dark"><i class="ion ion-email assertive"></i> {{profileData.email}}</h5>
                <h5 class="dark"><i class="ion ion-location assertive"></i>Agregar dirección:</h5>
                <label class="item item-input">
                    <textarea ng-model = "direccion" placeholder="Dirección"></textarea>
                </label>
                <label class="item item-input">
                    <input type ="tel" ng-model = "telefono" placeholder="telefono"/>
                </label>
                <div class="item item-input item-select">
                    <div class="input-label">
                        <b>  <i class="ion ion-earth"></i>  Sector:</b>
                    </div>
                    <select ng-options="o.Descripcion for o in sectores" data-ng-model="selectedValue">

                    </select>
                </div>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-social-usd placeholder-icon assertive"></i>
                    <input  type="number" ng-model="devuelta" placeholder="¿Devuelta de?">
                </label>
            </div>
            <div class="row row-restaurante">
                <div class="col col-50">
                    <label class="dark"><b>Estos precios estan sujetos a cambios.</b> </label>
                    <small>Precios con impuestos incluidos en el carrito de compra.</small>
                    <div class="row row-restaurante">
                    <div class="col col-33">
                        <i class="ion ion-android-time font-zise-50"></i>
                    </div>
                    <div class="col col-67">
                        <h5 class="dark"><small class="assertive">45 minutos<br> de espera.</small> </h5>
                    </div>
</div>
                </div>
                <div class="col col-50">
                    <small class="assertive"><b>Sub-total:</b> </small> <small class="pull-right">{{factura.subTotal.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Itebis:</b> </small> <small class="pull-right">{{factura.itbis.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>10% Ley:</b> </small> <small class="pull-right">{{factura.ley.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Fee:</b> </small> <small class="pull-right">{{factura.fee.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Total$:</b> </small> <small class="pull-right">{{factura.total.formatMoney(2)}}</small>
                </div>
            </div>
            </div>
            <div class="list list-inset">
                <button ng-click="enviarPedido(factura,direccion,telefono,selectedValue,devuelta)" class="button button-block button-assertive">
                    Enviar
                </button>
            </div>
        <div class="list list-inset">

        </div>
        </div>
    </ion-content>
</ion-view>