
<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title"><i class="icon ion-information-circled"></i> Facilidades</h1>
        <div class="buttons">
            <button class="button button-assertive btn-menu-small"ng-click="closeFacilities()">
                <i class="ion ion-close-round"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <a class="item item-avatar " href="#"ng-repeat="i in facilities" >
                <img ng-src="{{i.Icono}}"/>
                <h2>{{i.Descripcion}}</h2>
            </a>
            <a class="item item-icon-left " href="#"ng-show="!facilities" >
                <i class="icon ion-chatbubble-working"></i>
                No hay facilidades
            </a>
        </div>
    </ion-content>

</ion-modal-view>
