     

 <ion-nav-view title="'Sign-In'"  class="login">
     <ion-content>
     	<center>
        	<img src="img/LOGO_RESTAURANTES_.png" style="max-width: 65%;max-height: 90%;">
        </center>
 
        	<h3 class="text-center dark"> Iniciar sesión </h3>

          <div class="padding">

  <button class="button button-full button-positive" ng-click="signInFacebook()"><i class= "ion ion-social-facebook"></i> Entrar con Facebook</button>
          </div>
            <div class="padding">
        <button ng-click="signInGuest()"  class="button button-full button-assertive"><i class= "ion ion-android-share"></i> Continuar como invitado</button>
       </div>
     </ion-content>
  </ion-nav-view>
