<ion-view view-title="Mapa">

  <ion-content >
  <div id="map"  data-tap-disabled="true"></div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Encuentrame</a>
    </ion-footer-bar>
</ion-view>
