<ion-view view-title="Ofertas cercanas">
    <ion-content lazy-scroll>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="getCercanas()">
        </ion-refresher>
        <center>
            <ion-spinner ng-show="!ofertas && !positionError" ng-class="icon"></ion-spinner>
        </center>
        <p ng-show="positionError">Por favor encienda el gps para monstrarle ofertas cercanas</p>
        <button ng-show ="positionError" ng-click="encederGPS()" class = "button button-block button-assertive" >Encender GPS</button>

        <div class="card" ng-show="ofertas" ng-repeat=" i in ofertas">
                      <img ng-src="{{i.RutaImagen}}" class="img-oferta">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/ofertas/lat/{{i.lat}}/lon/{{i.lon}}">
                    <i class="icon ion-location"></i>
                    Ver mapa
                </a>
            </div>
     </div>

    </ion-content>

</ion-view>
