<ion-view view-title="Orden">
    <ion-content>
        <style>
            .popup-head{
                background-color: rgb(237, 27, 36)!important;
                color: white !important;
            }
        </style>
        <div class="list list-inset" ng-show="restauranteArray[0]">
            <div class="row row-restaurante">
                <div class="col col-50">
                    <button class="button button-assertive icon-left ion-ios-telephone"> 809-897-5874</button>
                </div>
                <div class="col col-50" style="margin-top: 4%">
                    <a href="#" ng-click="DeleteLists()" ><i class="icon ion-close-circled assertive"></i> Borra lista</a>
                </div>
            </div>
            <div class="list" ng-show = "restauranteArray"ng-repeat="restaurante in restauranteArray |filter:search">
            <h4 class="dark text-center"> <i class="ion ion-android-restaurant"></i> {{restaurante.restauranteNombre}}</h4>
            <div class="list" >
                <a class="item item-icon-right a-details" ng-repeat="item in restaurante.ordenes">
                    <i class="icon ion-close-circled assertive" ng-click="deleteItem(restaurante.restauranteId,item.Id)"></i>
                    <small class="assertive"><i class="ion ion-pricetag"></i> {{item.nombre}}</small>
                    <br>
                    <small class="dark" ng-show="item.descripcion" > {{item.descripcion}}
                    </small>
                    <br ng-show="item.descripcion">

                    <small class="dark" ng-show="item.comentario" > {{item.comentario}}
                    </small>
                    <br ng-show="item.comentario">
                    <small class="dark"><b><i class="ion ion-asterisk"></i> Cantidad: {{ item.cantidad}}</b> </small>
                    <br>
                    <small class="dark"><b><i class="ion ion-social-usd"></i> Precio: {{ item.precio | currency:"RD$":0}}</b> </small>

                </a>
            </div>
            </div>

            <div class="row row-restaurante">
                <div class="col col-50">
                    <label class="dark"><b>Estos precios estan sujetos a cambios.</b> </label>
                    <small>Precios con impuestos incluidos en el carrito de compra.</small>
                </div>
                <div class="col col-50">
                    <small class="assertive"><b>Sub-total:</b> </small> <small class="pull-right">{{factura.subTotal.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Itebis:</b> </small> <small class="pull-right">{{factura.itbis.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>10% Ley:</b> </small> <small class="pull-right">{{factura.ley.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Fee:</b> </small> <small class="pull-right">{{factura.fee.formatMoney(2)}}</small>
                    <br>
                    <small class="assertive"><b>Total$:</b> </small> <small class="pull-right">{{factura.total.formatMoney(2)}}</small>
                </div>
            </div>
            <div class="list list-inset">
                <button class="button button-block button-assertive" ng-click="Pagar(factura)">
                    Pagar
                </button>
            </div>
            <div class="list list-inset">

            </div>
        </div>
        <div  ng-show="!restauranteArray[0]">
            <div class="card">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-chatbox-working assertive"></i>
                    No hay orden en proceso
                </a>
            </div>
            <div class="card">
                <a class="item item-icon-left item-icon-right" href="#/app/restaurantes">
                    <i class="icon ion-help-circled assertive"></i>
                    Desea ordenar ahora?
                    <i class="icon ion-arrow-right-c assertive"></i>
                </a>
            </div>

            </div>
    </ion-content>

</ion-view>