
<ion-view view-title="Recomendaciones">
  <ion-content>
    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/gallo-pinto-logo.jpg">
        <h2>Gallo pinto</h2>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <p>Pedido minimo: $250</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/kfc.jpg">
        <h2>KFC</h2>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <p>Pedido minimo: $250</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/ChefPepper.jpg">
        <h2>Chef Pepper</h2>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <i class="icon ion-star energized"></i>
        <p>Pedido minimo: $250</p>
      </a>
    </div>
  </ion-content>
</ion-view>