<ion-view view-title="Restaurantes cercanos">
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="getCercanas()">
        </ion-refresher>
        <center>
            <ion-spinner ng-show="!restauresArray && !positionError && !locationOff" ng-class="icon"></ion-spinner>
        </center>

        <div ng-show="locationOff">

            <a class="item item-icon-left item-icon-right" href="#" ng-click="encederGPS()">
                <i class="icon ion-pinpoint"></i>
                Encender GPS
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
        <div class="list">
        <div  collection-repeat="i in restauresArray | filter:search" >

            <a class="item item-thumbnail-left" href="#/app/restaurantes/{{i.ID}}" >
                <img ng-src="{{i.Logo}}">
                <h2>{{i.Nombre}}</h2>
                <i class="icon ion-star energized" ng-repeat="n in [] | range:i.OverallRating"></i>
                <i class="icon ion-star gray"ng-show="!i.OverallRating"></i>
                <p> <i class="icon ion-ios-telephone"></i> {{i.Telefono}}</p>
                <p> <i class="icon ion-fork"></i> {{i.Comidas}}</p>
                <p> <i class="icon ion-arrow-graph-up-right"></i> {{i.RangoDePrecio}}</p>
            </a>

        </div>
            </div>
        <div  ng-show="data">
            <div class="card">
                <a class="item item-icon-left a-details" href="#">
                    <i class="icon ion-map assertive"></i>
                    No se encontraron restaurantes cercanos
                </a>
            </div>
        </div>
    </ion-content>
    </ion-view>